img {
    display: none;
}

.bold {
    font-weight: bold;
    display: block;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.letters {
    display: inline-block;
    font-size: 10em;
    font-style: italic;
    margin: 50px 50px 50px 50px;
    font-family: sans-serif;
}

#description {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
}

#word {
    margin-top: 5em;
}

#consonantImage {
    width: 200px;
}

#toneImage {
    /*height: 50%;*/
}

#generate {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 39px;
    background: #3184b0;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-bottom: 2em;
}

#todo {
    color: darkgreen;
}

#thingsToDo {
    margin-top: 5em;
    font-size: 10px;
}